/* Put your css in here */

html, body {
    height: calc(100%);
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background: gray;
    height: -moz-calc(100%);
    height: -webkit-calc(100% );
    height: calc(100%);
}

md-toolbar{
    background-color: #50667f;
}



#map-wrapper{
    height: 200px;
    background-color: #383838;
    z-index: 99999;
    width: 100%;
    position: relative;
}

.listContainer{
    width: 100%;
    height: -moz-calc(100% - 200px);
    height: -webkit-calc(100% - 200px);
    height: calc(100% - 200px);
    background: cornflowerblue;
    overflow-y: auto;


}

md-bottom-sheet{
    height: 103% !important;
    background: rgba(34,34,34,0.55); !important;
}

.progressCircular{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.imageContainer{
    position: relative;
}

.map-marker{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    font-size: 30px;
    width: 50px;
    height: 50px;
}

.map-marker i {
    margin-left: 34%;
    /* margin-right: 50%; */
    margin-top: 22%;
}
.transparent{
    /*background:rgba(255,255,255,0.5);*/
    background:rgba(0,0,0,.15);
}

#map{
    width: 100%;
    height: 100%;
}
.staticImage{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.bottomBand{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 4px;
    z-index: 10
}
.transparentBottom{
    /*background:rgba(255,255,255,0.5);*/
    background:rgba(0,0,0,.5);
}
.bottomBand .md-title{
    color: #ffffff;
    font-size: 16px;
}
.bottomBand .md-subhead{
    color: #ffffff;
}

.subheaderdemoBasicUsage .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px; }

/*.cameraButton{*/
    /*position: absolute;*/
    /*right: 8px;*/
    /*bottom: 15px;*/
/*}*/


.cameraButton{
    position: absolute;
    right: 8px;
    bottom: 15px;
border-radius:8px;
border:#ebebeb solid 1px;
padding: 4px 6px 4px 8px;
font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
color: #7f7f7f;
margin-top: 2px;
background:white
}
.cameraButton input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0; left:0;
    opacity:0;
}

.dialogdemoBasicUsage .dialogDemo1 {
    height: 500px; }
.dialogdemoBasicUsage .full {
    width: 100%;
    height: 100%; }
.dialogdemoBasicUsage .dialog-demo-content div {
    text-align: center; }
.dialogdemoBasicUsage .dialog-demo-content div .md-button {
    display: inline-block; }
.dialogdemoBasicUsage md-dialog md-dialog-content.sticky-container {
    padding: 0; }
.dialogdemoBasicUsage md-dialog md-dialog-content.sticky-container > div {
    padding: 0 24px 24px; }
.dialogdemoBasicUsage .md-subheader {
    background-color: #dcedc8;
    margin: 0; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
    margin-right: 0;
    margin-top: 0;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
    padding-left: 10px; }

.profileImage{
    background-image: url("img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tabsdemoDynamicHeight md-content {
    background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
    background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

.mapContainer{
    height: 100%;
    width: 100%;
}

